
<div class="col-sm-8 large-marg">
  <% @discussions.each do |discussion| %>
    <div class="card default-card">
      <div class="row">
        <div class="col-sm-4">
          <h3><%= link_to discussion.title, chats_dis_show_path(discussion) %></h3>
          <span>
            <small>Created by <%= discussion.user.username %> <%= distance_of_time_in_words(discussion.created_at, Time.now) %> ago</small>
          </span>
        </div>
        <div class="col-sm-8">
          <p><%= truncate(discussion.body, :length => 80) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- 
<%= link_to "Logout", session_path(current_user.id), method: :delete %> -->